route:
  receiver: "mail"
  repeat_interval: 4h
  group_by: [ alertname ]

receivers:
  - name: "mail"
    email_configs:
      - smarthost: "{{ alertmanager_smarthost }}"
        auth_username: "{{ alertmanager_smtp_username }}"
        auth_password: "{{ alertmanager_smtp_password }}"
        from: "{{ alertmanager_email_from }}"
        to: "{{ alertmanager_email_to }}"